<h1>Question Banks </h1>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Bank name</th>
        <th>Link</th>
        <th>Category</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <%= render @question_banks %>
    </tbody>
  </table>
</div>
