@import 'bootstrap';
$state-danger-text: #a31818;

body {
  .container-fluid {
    margin: 30px 0 0;
  }
}
h1 {
  text-align: center;
}

.question-label {
  margin: 30px 0 0;
  font-size: 20px;
}

.answer{
  margin: 0 0 0 30px;
}

.correct-answer{
  color: green;
}
.answer-label {
  margin: 10px 0 0;
}

.submit-button {
  margin: 10px 0 0;
}

.full-width {
  width: 100%;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .form-control.is-invalid;
  .form-control {
    color: $state-danger-text;
  }
}
